[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
scikit-learn = "*"
data-science-types = "*"
attrs = "*"

[requires]
python_version = "3.11"
